src/main/resources/wsdl/servicioSeguimiento.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Aqui va operaciones consultarSeguimiento, actualizarPaquete-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://com.rastreo"
	targetNamespace="http://com.rastreo">
	<wsdl:types>
		<xs:schema targetNamespace="http://com.rastreo" elementFormDefault="qualified">
			<xs:include schemaLocation="paquete.xsd" />
			<xs:include schemaLocation="commons.xsd" />
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="seguimientoRequest">
		<wsdl:part name="parameter" element="tns:idPaquete" />
	</wsdl:message>

	<wsdl:message name="seguimientoResponse">
		<wsdl:part name="parameter" type="tns:estadoType" />
	</wsdl:message>

	<wsdl:message name="actualizarPaqueteRequest">
		<wsdl:part name="parameter" element="tns:estadoType" />
		<!-- <wsdl:part name="estado" type="tns:estado" /> -->
	</wsdl:message>

	<wsdl:message name="actualizarPaqueteResponse">
		<wsdl:part name="parameter" type="tns:ack" /> <!-- Cambiar por un ack -->
	</wsdl:message>

	<wsdl:portType name="paquetePortType">

		<wsdl:operation name="seguimientoOperation">
			<wsdl:input message="tns:seguimientoRequest" />
			<wsdl:output message="tns:seguimientoResponse" />
		</wsdl:operation>

		<wsdl:operation name="actualizarPaqueteOperation">
			<wsdl:input message="tns:actualizarPaqueteRequest" />
			<wsdl:output message="tns:actualizarPaqueteResponse" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="seguimientoBinding" type="tns:paquetePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="seguimientoOperation">
			<soap:operation soapAction="urn:#NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="actualizarPaqueteOperation">
			<soap:operation soapAction="urn:#NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RastreoService">
		<wsdl:port name="RastreoPort" binding="tns:seguimientoBinding">
			<soap:address location="No target address" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>